@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&display=swap');

@import '_colors.scss';

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background: $cream;

}

h1, h2, h3, h4 {
  font-family: 'Fraunces', sans-serif;
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
